
<h1 style="color: #eb3812; text-align: center;"><img src="http://res.cloudinary.com/nikasemo/image/upload/v1504822767/navlogo_waefik.png" style="margin-right: 20px; padding-top: 20px;"><span style="padding-bottom: 20px;">Giftcard Confirmation</span></h1>

<p>

Hello <%= @user.firstname %>,<br><br>
Your gift card(s) has been received and being processed for cash immediately usually within 48hrs. In the rare case of a problem with your submission we'll notify you by phone. Below is your cash out details for future reference:
<br>

<br>
  <strong>Card Denomination:</strong>
  <%= @bitcoin.cardamount %> dollar gift card
<br>
  <strong>Number of Cards:</strong>
  <%= @bitcoin.number %>
<br>
  <strong>Payment Options:</strong>
  <%= @bitcoin.paymentoptions %>
<br>
    <% if @bitcoin.paymentoptions == "Mobile Money" %>
    <strong>Mobile Money Name:</strong>
    <%= @bitcoin.mobilemoneyname %>
    <br>
    <strong>Mobile Money Number:</strong>
    <%= @bitcoin.mobilemoneynumber %>
  <% end %>
<br>

    <% if @bitcoin.paymentoptions == "Bitcoin" %>
    <strong>Bitcoin Address:</strong>
    <%= @bitcoin.bitcoinnumber %>
  <% end %><br>



Please do not reply to this email because it is automated and unable to receive replies. You may call or WhatsApp the numbers on our website.<br><br>

Thank you for choosing our service!!<br>

iTunesCash

</p>