

<style type="text/css">

.loginme{
  text-align: center;
  color: #eb3812;
  margin-top: 30px;
  margin-bottom: 10px;
}

.landfooter{
  margin-top: 100px;
  background-color: #eb3812;
  color: white;
  padding: 50px;
}

.footerabout{
  text-align: justify;
  font-weight: 300;
}

</style>


<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #ffffff">
  <a class="navbar-brand" style="color: #eb3812;" href="/">
   <img src="navlogo.png" style="height: 100%; margin-right: 0px;">
   <span style="margin-top: 8px;">ItunesCash.io</span></a>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/users/sign_in">Sign In<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About Us</a>
      </li>
    </ul>
  </div>
</nav>


<h2 class="loginme">Sign Up! <i class="fa fa-plus-circle" aria-hidden="true"></i></h2>
<br>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>



<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm-12 col-md-6 col-md-offset-3">

      <div class="form-row">
    <div class="col">
      <label>First name</label>
 <%= f.text_field :firstname, autofocus: true, :class => "form-control", :placeholder => "First name", :required => "true" %>
     </div>
    <div class="col">
      <label>Last name</label>
      <%= f.text_field :lastname, :class => "form-control", :placeholder => "Last name", :required => "true" %>
    </div>
  </div>

<div class="form-group" style="margin-top: 18px;">
    <label for="exampleInputEmail1">Email address</label>
    <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Enter email", :required => "true" %>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Phone Number</label>
    <%= f.text_field :phone, :class => "form-control", :placeholder => "Enter phone number", :required => "true"  %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Password"  %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :placeholder => "Password confirmation"  %>
  </div>




  <button type="submit" class="btn btn-primary">Sign Up</button><br><br>
<%= render "devise/shared/links" %>
  </div>
</div>
</div>


<% end %>


<section class="landfooter">

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-sm-12">
      <div class="innerholdfooter">
        <h4 style="color: #ffffff;">About ItunesCash.io</h4>
        <p class="footerabout">
                 Founded in 2015 based in Ghana, iTunesCash is a platform for cashing out unwanted and unused iTunes gift cards for Mobile Money or Bitcoin. Many people have unwanted or unused iTunes gift cards which are sometimes left to collect dust.
        </p>
      </div>
    </div>
        <div class="col-lg-4 col-sm-12">
      <div class="innerholdfooter">
        <h4 style="color: #ffffff;">Social Media</h4>
        <ul style="list-style-type: none;">
                  <li><span style="margin-right: 15px;"><i class="fa fa-facebook-official" aria-hidden="true" style="color: #fff;"></i>
                      <a href="" style="margin-left: 0px; color: #fff;">Facebook</a>
                  </li>
                  <li>
                  <i class="fa fa-twitter" aria-hidden="true" style="color: #fff;"></i>
                  <a href="" style="margin-left: 0px; color: #fff;">Twitter</a>
                  </li>
                  <li>
                   <i class="fa fa-instagram" aria-hidden="true" style="color: #fff;"></i>
                   <a href="" style="margin-left: 0px; color: #fff;">Instagram</a>
                  </li>
                  <li>
                   <i class="fa fa-google-plus-official" aria-hidden="true" style="color: #fff;"></i>
                   <a href="" style="margin-left: 0px; color: #fff;">Google Plus</a>
                  </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="innerholdfooter">
        <h4 style="color: #ffffff;">Contact Us</h4>
        <ul style="list-style-type: none;">
                  <li><span style="margin-right: 15px;"><i class="fa fa-envelope-o" aria-hidden="true" style="color: #fff;"></i>
                      <span style="margin-left: 0px; color: #fff;">smile@itunescash.io</span>
                  </li>
                  <li>
                  <i class="fa fa-phone" aria-hidden="true" style="color: #fff;"></i>
                  <span style="margin-left: 0px; color: #fff;">+233 507177187, +233 553393260</span>
                  </li>
                  <li>
                   <i class="fa fa-whatsapp" aria-hidden="true" style="color: #fff;"></i>
                   <span style="margin-left: 0px; color: #fff;">+233 553393260</span>
                  </li>
                  <li>
                   <i class="fa fa-skype" aria-hidden="true" style="color: #fff;"></i>
                   <span style="margin-left: 0px; color: #fff;">ItunesCash</span>
                  </li>
        </ul>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3970.479260141848!2d-0.23871658581567715!3d5.64357539590894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf994cfb9aead5%3A0xf6a65dd8f485afde!2sDome+Market!5e0!3m2!1sen!2sgh!4v1503362212418" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

</section>



