<tr>
      <th scope="row"><%= bitcoin.transactionid %></th>
      <td><%= bitcoin.user.firstname %> <%= bitcoin.user.lastname %></td>
      <td>
         <%= bitcoin.user.email %>
         <br>
       
        <%= bitcoin.user.countrycode %> <%= bitcoin.user.phone %>

      </td>
      <td><%= link_to 'View Order', bitcoin %> </td>
      <td><%= bitcoin.created_at %> </td>
      <td><%= bitcoin.updated_at %> </td>
      <td>
        <% if current_user.admin? %>
      	<%= link_to 'Approve Order', approve_bitcoin_path(bitcoin), method: :post, :class => "btn btn-success" %>
        <% end %>
        <% if current_user.admin? == false %>
        <% if bitcoin.approved? %>
        Approved
        <% else %>
        Awaiting Approval
        <% end %>
        <% end %>
      </td>
      <td>
       <% if current_user.admin? && !bitcoin.approved? %>
       <% if bitcoin.declined? %>
       <% else %>
       <%= link_to 'Decline Order', decline_bitcoin_path(bitcoin), method: :post, :class => "btn btn-danger" %>
       <% end %>
       <% end %>
      </td>
    </tr>